In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn import linear_model

In [4]:
data = pd.read_excel('data.xlsx')
data

      X    Y
0   609  241
1   629  222
2   620  233
3   564  207
4   645  247
5   493  189
6   606  226
7   660  240
8   630  215
9   672  231
10  778  263
11  616  220
12  727  271
13  810  284
14  778  279
15  823  272
16  755  268
17  710  278
18  701  238
19  803  255
20  855  308
21  838  281
22  830  288
23  864  306
24  635  236
25  565  204
26  562  216
27  580  225
28  596  220
29  597  219
30  636  201
31  559  213
32  615  228
33  740  234
34  677  237
35  675  217
36  629  211
37  692  238
38  710  221
39  730  281
40  763  292
41  686  251
42  717  231
43  737  275
44  816  275

In [6]:


# Choose some index to split the data,
test_index = np.random.rand(len(data))
test_index

array([0.32125248, 0.41990548, 0.83440197, 0.45845188, 0.10638128,
       0.6820764 , 0.25456934, 0.56872145, 0.58555656, 0.06306809,
       0.29391356, 0.50071904, 0.1138879 , 0.76351109, 0.98297499,
       0.83262161, 0.3241194 , 0.29140038, 0.83722349, 0.06410442,
       0.94255123, 0.76543046, 0.27997868, 0.26283491, 0.7903118 ,
       0.38916058, 0.54925284, 0.83883456, 0.89667958, 0.20913333,
       0.33880504, 0.92625181, 0.25994165, 0.30504126, 0.78000481,
       0.23061267, 0.52605116, 0.28206925, 0.04350825, 0.66701972,
       0.17885207, 0.55018345, 0.47383525, 0.11923453, 0.50980556])