In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn import datasets, linear_model

In [6]:
source_file = 'cricket-chirps.xlsx'
data = pd.read_excel(source_file)

In [7]:
# Show data demo
data.head()

   Time  Chirps-15s  Chirps-13s  Temp-F  Temp-C
0  2030        44.0      38.133    80.5  26.944
1  2100        46.4      40.213    78.5  25.833
2  2200        43.6      37.787    78.0  25.556
3  1945        35.0      30.333    73.5  23.056
4  2015        35.0      30.333    70.5  21.389