In [8]:
import pandas as pd
import numpy as np

n = np.random.randint(100, size = 4)

S = pd.Series(
    n
)

print(S)

Ke toan    310
KT         360
CNTT       580
Co Khi     340
dtype: int64
Index(['Ke toan', 'KT', 'CNTT', 'Co Khi'], dtype='object')
[310 360 580 340]

In [ ]:
import pandas as pd
import numpy as np

chi_so = ['Ke toan', 'KT', 'CNTT', 'Co Khi']

gia_tri = [310, 360, 580, 340]

s = pd.Series(gia_tri, index = chi_so)

print(s)
print(s.index)
print(s.values)

In [17]:
import pandas as pd
import numpy as np

chi_so = ['KT', 'KT', 'CNTT', 'Co Khi']

gia_tri = [310, 360, 580, 340]

s = pd.Series(gia_tri, index = chi_so)

print(s)
print(s.index)
print(s.values)

print(s['Co Khi'])
print(s['KT'])

KT        310
KT        360
CNTT      580
Co Khi    340
dtype: int64
Index(['KT', 'KT', 'CNTT', 'Co Khi'], dtype='object')
[310 360 580 340]
340
KT    310
KT    360
dtype: int64

In [18]:
import pandas as pd
import numpy as np

chi_so = ['KT', 'KT', 'CNTT', 'Co Khi']

gia_tri = [310, 360, 580, 340]

s = pd.Series(gia_tri, index = chi_so)

p = pd.Series([100, 100], ['CNTT', 'PN'])

y = s + p

print(y)

CNTT      680.0
Co Khi      NaN
KT          NaN
KT          NaN
PN          NaN
dtype: float64

In [25]:
import pandas as pd
import numpy as np

chi_so = ['KT', 'KT', 'CNTT', 'Co Khi']

gia_tri = [310, 360, 580, 340]

s = pd.Series(gia_tri, index = chi_so)

def Tang(x):
    return x if x > 500 else x + 1000

print(s)

print(s.apply(Tang))

KT        310
KT        360
CNTT      580
Co Khi    340
dtype: int64
KT        1310
KT        1360
CNTT       580
Co Khi    1340
dtype: int64

In [26]:
import pandas as pd

names = ["MIT", "Standford", "BVU"]

df = pd.DataFrame(names)

print(df)

           0
0        MIT
1  Standford
2        BVU

In [27]:
import pandas as pd

names = ["MIT", "Standford", "BVU"]

df = pd.DataFrame(names)

names_rank = [
    ["MIT", 1],
    ["Standford", 2],
    ["BVU", 2]
]

df = pd.DataFrame(names_rank, columns = ["Name", "Rank"])

print(df)

        Name  Rank
0        MIT     1
1  Standford     2
2        BVU     2

In [29]:
import pandas as pd

crimes_rate = {
    "Year": [2015, 2016, 2017, 2018, 2019],
    "Population": [92184091, 3908109238, 1281309821, 9123821, 239847],
    "Total": [34958503, 23848, 902384, 28340, 290384],
    "Violent": [234, 2384, 3456, 3734, 7248],
}

Crimes_dataFrame = pd.DataFrame(crimes_rate)

print(Crimes_dataFrame)

   Year  Population     Total  Violent
0  2015    92184091  34958503      234
1  2016  3908109238     23848     2384
2  2017  1281309821    902384     3456
3  2018     9123821     28340     3734
4  2019      239847    290384     7248

In [33]:
import pandas as pd

data = [
    {
        'MIT': 5000,
        'Standford': 4500,
        'BVU': 15000
    },
    {
        'MIT': 1,
        'Standford': 2,
        'BVU': 200
    }
]

df = pd.DataFrame(data, index= ['NumberOfStudent', 'Ranking'])

print(df)

print("df.BVU.dtype", df.BVU.dtype)

                  MIT  Standford    BVU
NumberOfStudent  5000       4500  15000
Ranking             1          2    200
df.BVU.dtype int64

In [34]:
data = {
    'one' : pd.Series(
        [1, 23, 45], index=[1,2,3]
    ),
    'two' : pd.Series(
        [1000, 2400, 1132, 3434], index=[1,2,3,4]
    )
}

df = pd.DataFrame(data)

print(df)

    one   two
1   1.0  1000
2  23.0  2400
3  45.0  1132
4   NaN  3434

In [35]:
import pandas as pd

d = pd.read_csv("American-height-weight.csv")

print(d)

    Height  Weight
0       58     115
1       59     117
2       60     120
3       61     123
4       62     126
5       63     129
6       64     132
7       65     135
8       66     139
9       67     142
10      68     146
11      69     150
12      70     153
13      71     159
14      72     160

In [36]:
import pandas as pd

d = pd.read_csv("American-height-weight.csv")

print(d.head(5))

   Height  Weight
0      58     115
1      59     117
2      60     120
3      61     123
4      62     126

In [37]:
import pandas as pd

d = pd.read_csv("American-height-weight.csv")

print(d.tail(5))

    Height  Weight
10      68     146
11      69     150
12      70     153
13      71     159
14      72     160

In [39]:
import pandas as pd

d = pd.read_csv("American-height-weight.csv")

print(d.size)

print(d['Height'])

30
0     58
1     59
2     60
3     61
4     62
5     63
6     64
7     65
8     66
9     67
10    68
11    69
12    70
13    71
14    72
Name: Height, dtype: int64

In [48]:
import pandas as pd

d = pd.read_csv("American-height-weight.csv")

d["height-cm"] = d["Height"] * 2.54

print(d)

    Height  Weight  height-cm
0       58     115     147.32
1       59     117     149.86
2       60     120     152.40
3       61     123     154.94
4       62     126     157.48
5       63     129     160.02
6       64     132     162.56
7       65     135     165.10
8       66     139     167.64
9       67     142     170.18
10      68     146     172.72
11      69     150     175.26
12      70     153     177.80
13      71     159     180.34
14      72     160     182.88

In [45]:
import pandas as pd

d = pd.read_csv("American-height-weight.csv")

d["height-cm"] = d["Height"] * 2.54

print(d.loc[1])

Height        59.00
Weight       117.00
height-cm    149.86
Name: 1, dtype: float64

In [43]:
print(d.loc[1], "height-cm")

Height        59.00
Weight       117.00
height-cm    149.86
Name: 1, dtype: float64 height-cm

In [44]:
print(d.drop(["height-cm"], axis =1))

    Height  Weight
0       58     115
1       59     117
2       60     120
3       61     123
4       62     126
5       63     129
6       64     132
7       65     135
8       66     139
9       67     142
10      68     146
11      69     150
12      70     153
13      71     159
14      72     160

In [49]:
d.drop(["height-cm"], axis=1, inplace = True)
print(d)

    Height  Weight
0       58     115
1       59     117
2       60     120
3       61     123
4       62     126
5       63     129
6       64     132
7       65     135
8       66     139
9       67     142
10      68     146
11      69     150
12      70     153
13      71     159
14      72     160